@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-primary: #0f161d;
  --color-secondary: #192431;
  --card-background: #1f262e ; 
  --main-shadow: 0 0 4px 2px rgba(0 , 0 , 0 , 0.2)
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-primary);
  background-attachment: fixed;
}
