@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-primary: #fff;
  --color-secondary: #e5e5e5;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-primary);
  background-attachment: fixed;
}
